@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #1D1E2B;
}
button:focus{
    outline: none!important;
}
.container{
    padding-bottom: 70px;
}
.primaryButton{
    background: rgb(167,65,224);
    background: linear-gradient(45deg, rgba(167,65,224,1) 25%, rgba(54,111,247,1) 100%);
    color: white;
    padding: 8px;
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 10px;
}


.header{
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color:#f3f4fd;

}
.separadorHeader{
    height: 50px;
    width: 100%;
}

.nav{
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color:#f3f4fd;
    bottom: 0;
}
.newPostButton{
    background: rgb(167,65,224);
    background: linear-gradient(45deg, rgba(167,65,224,1) 25%, rgba(54,111,247,1) 100%);
    color: white;
    width: 70px;
    height: 70px;
    margin-top: -20px!important;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 4px solid #f3f4fd;
}
.nav ul{
    display: inline-block;
    width: 360px;
    margin: auto;
    padding-left: 10px;
}
.nav ul li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    color:#1D1E2B;
    font-size: 25px;
}
.active i{
    color:  rgba(54,111,247,1);
}
.newPostButton .fa-plus{
    font-size: 40px;
}
.tarjeta{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}
.postHeader{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #1D1E2B10;
    padding-left: 10px;
    padding-right: 10px;
}
.profileThumb img{
    height: 45px;
    margin-top: 2.5px;
    border-radius: 50%;
}
.profileName p{
    font-size: 24px;
    color: #1D1E2B;
    margin-top: 5px;
    margin-left: 10px;
}
.spaceButton{
    height: 20px;
    width: 33.33%;
}
.fav{
   transform: scale(1);
   margin-top: -70px;
}
.comment{
    height: 50px;
    position: relative;
    display: block;
    margin: auto;
    margin-top: -42px!important;
}
.save{
    height: 50px;
    position: relative;
    display: block;
    margin: auto;
    margin-top: -42px!important;
}



.categorias{
    padding: 10px;
}

.contCategoria{
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
}
.contCategoria img{
    width: 100%;
    border-radius: 10px;
}
.contCategoria.adulto img{
    width: 100%;
    border-radius: 10px;
    filter: blur(3px);
}
.contCategoria .overlay{
    background-color: #11111150;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.contCategoria .overlay h2{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.agrupado .contCategoria.left{
    margin-right: 5px;
    width: 50%;
}
.agrupado .contCategoria.right{
    margin-left: 5px;
    width: 50%;
}
.agrupado .contCategoria .overlay h2{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.contCategoria .overlay.adulto{
    background-color: #11111150;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.perfil{
    padding-left: 10px;
    padding-right: 10px;
}
.profilePic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: -40px;
}
.profilePic img{
    width: 100%;
    border-radius: 50%;
}
.likes, .middle, .posts{
    width: 33.33%;
    color: white;
    text-align: center;
    margin-top: -50px;
}
.suscripciones div{
    width: 50%;
}
.suscripciones button{
    border: 1px solid #A741E0;
    color: white;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
}
.titleProfile{
    width: 70%;
    display: block;
    margin: auto;
    border-bottom: 2px solid white;
}
.titleProfile h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    margin-top: 5px;
    padding-bottom: 5px;
}
.titleProfile p{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 5px;
    font-size: 10px;
}
.inicio {
    margin-top: 10px;
    margin-left: -10px;
}
.inicio .principal{
    width: 70%;
}
.inicio .secundario{
    width: 30%;
}
.principal img{
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.secundario img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.menu{
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 100;
}
.menu svg{
    width: 100px!important;
    height: 100px!important;
    filter: invert()!important;
}

.settings{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #1D1E2B;
    margin-left: -500px;
    transition: 1s;
}
.settings.active{
    margin-left: 0;
    transition: 1s;
}
.settings ul li{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
