<template>
    <div class="min-h-screen   justify-center sm:px-6 lg:px-8">
        <div class="header">
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
        </div>
        <div class="separadorHeader"></div>
        <div class="container">
            <div class="tarjeta">
                <div class="postHeader flex">
                    <div class="profileThumb">
                        <img src="https://instagram.fasu9-1.fna.fbcdn.net/v/t51.2885-19/s320x320/145950593_404139430683514_7555719483897066598_n.jpg?tp=1&_nc_ht=instagram.fasu9-1.fna.fbcdn.net&_nc_ohc=DMQ37V-HI30AX8gZ7Cl&oh=1688bb34fea317211bda7be2648cae3f&oe=6062A2A5" alt="">
                    </div>
                    <div class="profileName">
                        <p>Karina Flores</p>
                    </div>
                </div>
                <div class="contenido">
                    <img src="https://instagram.fasu9-1.fna.fbcdn.net/v/t51.2885-15/e35/125919078_373006200583763_59619103912388264_n.jpg?tp=1&_nc_ht=instagram.fasu9-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=dlyA5MXui3cAX__5f1b&oh=070ee9702439ccc1baa5b83e801879d1&oe=6063B3C1" alt="">
                </div>
                <div class="postFooter flex">
                    <div class="spaceButton">
                        <div id="fav" class="fav addfav">
                        </div>
                    </div>
                    <div class="spaceButton">
                        <img src="img/comment.png" class="comment" alt="">
                    </div>
                    <div class="spaceButton">
                        <div id="save" class="save saved">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="nav">
            <ul>
                <li class="active">
                    <i class="fas fa-home"></i>
                </li>
                <li>
                     <router-link to='/explorar'>
                        <i class="fab fa-wpexplorer"></i>
                     </router-link>

                </li>
                <li>
                    <button class="newPostButton"><i class="fas fa-plus"></i></button>
                </li>
                <li>
                    <i class="far fa-bell"></i>
                </li>
                <li>
                     <router-link to='/perfil'>
                        <i class="far fa-user-circle"></i>
                     </router-link>
                </li>
            </ul>

        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            user: null
        }
    },
    methods:{
        logout(){
            axios.post('/api/logout').then(()=>{
                this.$router.push({ name: "Home"})
            })
        }
    },
    mounted(){
        axios.get('/api/user').then((res)=>{
            this.user = res.data
        });
         var animationLike = bodymovin.loadAnimation({
        container: document.getElementById('fav'), // Required
        path: 'animation/like.json', // Required
        renderer: 'svg', // Required
        loop: false, // Optional
        autoplay: false, // Optional
        name: "Fav", // Name for future reference. Optional.
        });
          var animationSave = bodymovin.loadAnimation({
        container: document.getElementById('save'), // Required
        path: 'animation/save.json', // Required
        renderer: 'svg', // Required
        loop: false, // Optional
        autoplay: false, // Optional
        name: "Save", // Name for future reference. Optional.
        });
        $(document).on('click', ".addfav", function() {
            $('.fav').addClass('unfav');
            $('.fav').removeClass('addfav');
            animationLike.playSegments([14,50],true);
        });
        $(document).on('click', ".unfav", function() {
            $('.fav').addClass('addfav');
            $('.fav').removeClass('unfav');
            animationLike.playSegments([30,10],true);
        });

         $(document).on('click', ".saved", function() {
            $('.save').addClass('unsave');
            $('.save').removeClass('saved');
            animationSave.playSegments([0,35],true);
        });
        $(document).on('click', ".unsave", function() {
            $('.save').addClass('saved');
            $('.save').removeClass('unsave');
            animationSave.playSegments([35,0],true);
        });

    }
}
</script>
