<template>
    <div class="min-h-screen   justify-center sm:px-6 lg:px-8">
        <div class="header">
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
        </div>
        <div class="separadorHeader"></div>
        <div class="categorias">
            <div>
                <label for="email-address" class="sr-only">Email</label>
                <input id="buscar" name="buscar" type="ext"  class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Buscar...">
            </div>
            <div class="contCategoria">
                <img src="img/cocina.png" >
                <div class="overlay flex items-center justify-center">
                    <h2>Cocina</h2>
                </div>
            </div>
            <div class="flex agrupado">
                <div class="contCategoria left">
                    <img src="img/training.png" >
                    <div class="overlay flex items-center justify-center">
                        <h2>Training</h2>
                    </div>
                </div>
                <div class="contCategoria right">
                    <img src="img/musica.png" >
                    <div class="overlay flex items-center justify-center">
                        <h2>MúSICA</h2>
                    </div>
                </div>
            </div>
             <div class="contCategoria adulto">
                <img src="img/18.webp" >
                <div class="overlay  flex items-center justify-center">
                    <h2>+18</h2>
                </div>
            </div>
        </div>

        <div class="nav">
            <ul>
                <li>
                     <router-link to='/inicio'>
                        <i class="fas fa-home"></i>
                     </router-link>

                </li>
                <li  class="active">
                    <i class="fab fa-wpexplorer"></i>
                </li>
                <li>
                    <button class="newPostButton"><i class="fas fa-plus"></i></button>
                </li>
                <li>
                    <i class="far fa-bell"></i>
                </li>
                <li>
                    <router-link to='/perfil'>
                        <i class="far fa-user-circle"></i>
                     </router-link>
                </li>
            </ul>

        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            user: null
        }
    },
    methods:{
        logout(){
            axios.post('/api/logout').then(()=>{
                this.$router.push({ name: "Home"})
            })
        }
    },
    mounted(){
        axios.get('/api/user').then((res)=>{
            this.user = res.data
        });
    }
}
</script>
