<template>
    <div class="min-h-screen   justify-center sm:px-6 lg:px-8">
        <div class="settings">
            <ul>
                <li>Home</li>
                <li>Portfolio </li>
                <li>Manifiesto </li>
                <li>Servicios </li>
                <li>Noticias</li>
                <li>Contacto</li>
            </ul>
        </div>
        <div class="header">
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
            <div id="menu-container" class="menu open"> </div>
        </div>
        <div class="separadorHeader"></div>
        <img src="img/portada.jpg" width="100%" alt="Portada">
        <div class="perfil">
            <div class="profilePic">
              <img src="https://instagram.fasu9-1.fna.fbcdn.net/v/t51.2885-19/s320x320/145950593_404139430683514_7555719483897066598_n.jpg?tp=1&_nc_ht=instagram.fasu9-1.fna.fbcdn.net&_nc_ohc=DMQ37V-HI30AX8gZ7Cl&oh=1688bb34fea317211bda7be2648cae3f&oe=6062A2A5" alt="">
            </div>
            <div class="flex">
                <div class="likes">
                    <p>150 Likes</p>
                </div>
                <div class="middle"></div>
                <div class="posts">
                    <p>12 Post</p>
                </div>
            </div>
            <div class="titleProfile">
                <h1>Karina</h1>
                <p>+18</p>
            </div>
            <div class="flex suscripciones">
                <div>
                    <button>Suscriptores</button>
                </div>
                <div>
                    <button>Suscripciones</button>
                </div>
            </div>
            <div class="fotos">
                <div class="inicio flex">
                    <div class="principal">
                        <img src="https://instagram.fasu9-1.fna.fbcdn.net/v/t51.2885-15/e35/c0.135.1080.1080a/s240x240/139019243_2789871237938388_8159718234162606260_n.jpg?tp=1&_nc_ht=instagram.fasu9-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=7ktjNsG5woAAX_2Dnoz&oh=0da7a3e14c3583837533444b357d784c&oe=6065DE66" alt="">
                    </div>
                    <div class="secundario">
                        <div class="flex items-center justify-center">
                            <img src="https://instagram.fasu9-1.fna.fbcdn.net/v/t51.2885-15/e35/s240x240/131201615_684561538775859_4002388562948170862_n.jpg?tp=1&_nc_ht=instagram.fasu9-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=eVyLJ8_hS8YAX_3L_Db&oh=8d8cb0a64b1bb418b32a15f237615791&oe=603D3125" alt="">
                        </div>

                        <div class="flex items-center justify-center">
                            <img src="https://instagram.fasu9-1.fna.fbcdn.net/v/t51.2885-15/e35/s240x240/144869454_470338040649274_3024610009406535603_n.jpg?tp=1&_nc_ht=instagram.fasu9-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=fLIFKE38ET0AX8zA1q7&oh=03b675657294a6ee9c69703ffdae6a8a&oe=6063DA30" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li>
                     <router-link to='/inicio'>
                        <i class="fas fa-home"></i>
                     </router-link>
                </li>
                <li >
                     <router-link to='/explorar'>
                      <i class="fab fa-wpexplorer"></i>
                     </router-link>
                </li>
                <li>
                    <button class="newPostButton"><i class="fas fa-plus"></i></button>
                </li>
                <li>
                    <i class="far fa-bell"></i>
                </li>
                <li  class="active">
                    <i class="far fa-user-circle"></i>
                </li>
            </ul>

        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            user: null
        }
    },
    methods:{
        logout(){
            axios.post('/api/logout').then(()=>{
                this.$router.push({ name: "Home"})
            })
        }
    },
    mounted(){
        axios.get('/api/user').then((res)=>{
            this.user = res.data
        });

        var animation = bodymovin.loadAnimation({
        container: document.getElementById('menu-container'), // Required
        path: 'animation/menu.json', // Required
        renderer: 'svg', // Required
        loop: false, // Optional
        autoplay: false, // Optional
        name: "Menu", // Name for future reference. Optional.
        });

        $(document).on('click', ".open", function() {
            $('.menu').addClass('close');
            $('.menu').removeClass('open');
            $('.settings').addClass('active');
            animation.playSegments([30,75],true);
        });
        $(document).on('click', ".close", function() {
            $('.menu').addClass('open');
            $('.menu').removeClass('close');
            $('.settings').removeClass('active');
            animation.playSegments([80,120],true);
        });


    }
}
</script>
