<template>
        <div class="min-h-screen flex items-center justify-center  py-12 px-4 sm:px-6 lg:px-8">
                <div class="max-w-md w-full space-y-8">
                    <div>
                    <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-50">
                        Crearte una cuenta
                    </h2>
                    <p class="mt-2 text-center text-sm text-gray-50">
                        O
                        <router-link class="font-medium text-indigo-600 hover:text-indigo-500" to='/login'> ingresa a tu cuena!</router-link>
                    </p>
                    </div>
                    <form class="mt-8 space-y-6" action="#" method="POST">
                    <input type="hidden" name="remember" value="true">
                    <div class="rounded-md shadow-sm -space-y-px">
                        <div>
                        <label for="email-address" class="sr-only">Usuario</label>
                         <span class="w-full text-red-500" v-if="errors.name">{{errors.name[0]}}</span>
                        <input   type="text" v-model="form.name" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Nombre de usuario">
                        </div>
                        <div>
                        <label for="email-address" class="sr-only">Email</label>
                        <input  name="email" type="email" autocomplete="email" v-model="form.email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email">
                        </div>
                        <div>
                        <label for="email-address" class="sr-only">Contraseña</label>
                        <input  type="password" v-model="form.password" name="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Contraseña">
                        </div>
                        <div>
                        <label for="password" class="sr-only">Repita su contraseña</label>
                        <input  autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" type="password" v-model="form.password_confirmation" name="password_confirmation" placeholder="Repita su contraseña">
                        </div>
                    </div>

                    <div>
                        <button @click.prevent="saveForm" type="submit" class="primaryButton">Registrarme</button>
                    </div>
                    </form>
                </div>
        </div>
</template>
<script>
export default {
    data(){
        return{
            form:{
                name: '',
                email: '',
                password:'',
                password_confirmation:''
            },
            errors:[]
        }
    },
    methods:{
        saveForm(){
            axios.post('/api/register', this.form).then(() =>{
                console.log('saved');
            }).catch((error) =>{
                this.errors = error.response.data.errors;
            })
        }
    }
}
</script>
